@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import "variables";

*{
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    background-image:url("../media/fondoCards.jpg");
    background-attachment: fixed;
}

.fontCursive{
    font-family: 'Ephesis', cursive;
}
.titulo{
    font-family: 'Ephesis', cursive;
    font-size: 2.5rem;
    @media (min-width: 540px){
        font-size: 2.8rem;
    }
    @media (min-width: 720px){
        font-size: 3rem;
    }
    @media (min-width: 960px){
        font-size: 4rem;
    }
}
.typeLight{
    font-weight: 300;
}
.typeRegular{
    font-weight:400;
}

.typeBold{
    font-weight: 700;
}
.fontTittle{
    font-size: 3rem;
}

.bgGray{
    background-color: $colorGray;
}
.bgBlack{
    background-color:$colorBlack;
}
.bgBrown{
    background-color: $colorBrown;
}
.bgWhite{
    background-color: $colorWhite;
}

.white{
    color: $colorWhite;
} 

.black{
    color: $colorBlack;
}
.brown{
    color: $colorBrown;
}
.mb-20{
    margin-bottom: 20px;
}

.opacity{
    opacity: .7;
}


/*BANNERS*/

.bannerHome{
    background-image: url("../media/home.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.bannerFooter{
    background-image: url("../media/fondoBanner.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* ---- ESTILOS GENERALES ---- */
#navbarNav{
    a{
        font-size: 1.5rem;
        transition: all 300ms;
        color: $colorWhite;
        margin-left: 15px;
    }
}

#navbarNav{
    a:hover{
        color: $colorBrown;
        transform: scale(1.2 , 1.2);
        text-decoration: none;
    }
}

/* --- ANIMACIONES GENERALES --- */
.animation1{
    p{
        transition: all 300ms;
        animation: showTittle 300ms linear;
    }
}
.animation2{
    p{
        transition: all 600ms;
        animation: showSubtittle 600ms linear;
    }
}
@keyframes showTittle{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes showSubtittle{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0%);
    }
}

.card{
    box-shadow: 5px 5px 5px 5px $colorBlack;
    border: none;
    .card-body{
        background-color: $colorGray;
        background-position: center;
        .card-title{
            color: $colorBrown;
            font-weight: bold;
            font-family: Ephesis;
            font-size: 2rem;
        }
        .card-text{
            color: $colorWhite;
        }
    }
    .card-footer{
        background-color: $colorGray;
    }
}
.btn:hover{
    background-color: white;
    color: $colorBrown;
}
.carouselHome{
    max-width: 700px;
    margin: 0px auto;
}
/*FOOTER*/
footer{
    span{
        a{
            color: $colorBrown;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.15rem;
            
        }
        a:hover{
            color: $colorBlack;
            text-decoration: none;
        }
    }
}



/* ---- PASTAS ---- */
.boxContent /*RAVIOLES*/{
      p{
          color: $colorBrown;
          font-family: ephesis;
          font-size: 1.5rem;
          @media (min-width: 720px){
            font-size: 3rem;
        }
      }
}

/* ---- SALSAS ----*/
#salsas{
    .card{
        .card-title{
            font-size: 1.5rem;
           @media (min-width: 300px){
               font-size: 3rem;
           }
           @media (min-width: 720px) {
               font-size: 4rem;
           }

        }
        .card-text{
           font-size: .5rem;
           @media (min-width: 300px){
               font-size: .8rem;
           }
           @media (min-width: 720px) {
               font-size: 1rem;
           }
        }
    }
}

/*---- CONTACTO ----*/
.form-control:focus {
    color: $colorBlack;
    background-color: #fff;
    border-color: $colorBrown;
    outline: 0;
    box-shadow: 0 0 0 2px $colorBrown;
}