@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    background-image:url(media/fondoCards.jpg);
    background-attachment: fixed;
}

.fontCursive{
    font-family: 'Ephesis', cursive;
}
.titulo{
    font-family: 'Ephesis', cursive;
    font-size: 5rem;
}
.typeLight{
    font-weight: 300;
}
.typeRegular{
    font-weight:400;
}

.typeBold{
    font-weight: 700;
}
.fontTittle{
    font-size: 3rem;
}
.bgBanner{
    background-image: url(media/fondoBanner.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.bgGray{
    background-color: #373737;
}
.bgBlack{
    background-color:black;
}
.bgBrown{
    background-color: #AA773B;
}
.bgWhite{
    background-color: white;
}

.white{
    color: white;
} 

.black{
    color: black;
}
.brown{
    color: #AA773B;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-50{
    margin-top: 50px;
}
.opacity{
    opacity: .7;
}



/*BANNERS*/

.bannerHome{ /*BANNER HOME*/
    background-image: url(media/home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    height: 100vh;

}
.bannerPastas{ /*BANNER PASTAS*/
    background-image: url(media/pastas.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 70vh;

}
.bannerFiletto{
    background-image:url(media/filetto2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 70vh;
}


/* --- NAVBAR --- */

#navbarNav a{
    font-size: 1.5rem;
    transition: all 300ms;
    color: white;
}

#navbarNav a:hover{
    color: #AA773B;
    transform: scale(1.2 , 1.2);
    text-decoration: none;
}
#navbarNav ul li a{
    margin-left: 15px;
}
/*---- SECTION ----*/


.carouselHome{
    max-width: 500px;
    margin: 0px auto;
}


/*PASTAS PAGE*/
.boxContent ul li{
    font-family: 'Ephesis', cursive;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}